
/*SELECTOR DE ETIQUETA*/
h1,h2 {
    background: #1d64aa;
    color: aquamarine;
}



/*SELECTOR UNIVERSAL*/
*{
    margin: 20px;
    padding: 0;

}




/*SELECTOR DESCENDENTE*/
p a{
    color: red;
    font-size: 20px;
}


p span a{
    color: green;
    font-size: 20px;
}



/*SELECTOR DE CLASE*/

.yellow{
    color:darkmagenta;
    font-size: 25px;

}

.red{
    color:olivedrab;
    font-size: 20px;

}


/*SELECTOR DE ID*/

#texto{
    color:aqua;
}

#lorem{
    color: violet;
}


/*SELECTOR COMBINADO */
div #texto{

    color: blue;
    font-size: 15;
    text-align: center;
    text-align: justify;
    width:650px;
    height:80px;
    margin:2rem auto;
}


/* SELECTOR DE HIJO (>)*/

section>div>article> #texto{

    background: #d33333;
    color: black;

}




/*SELECTOR DE ATRIBUTO*/

p[title]{

    background: #48abe0;

}





