
/*SELECTOR DE ETIQUETA*/


h1,h2 {
    background: #1d64aa;
    color: aquamarine;
}



/*SELECTOR UNIVERSAL*/


*{
    margin: 20px;
    padding: 0;

}


/*SELECTOR DESCENDENTE*/

p a{
    color: red;
    font-size: 20px;
}


p span a{
    color: green;
    font-size: 20px;
}

/*SELECTOR DE CLASE*/

.yellow{
    color:darkmagenta;
    font-size: 25px;


}



